.x-html-editor-input textarea{white-space: pre !important;}
.x-form-item-label {color: #666666 !important;
                    -webkit-user-select: auto !important; -moz-user-select: auto !important;
                    -ms-user-select: auto !important; user-select: auto !important;}
.x-boundlist-floating{-webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,1);
                      -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,1);
                      box-shadow: 0px 2px 10px -5px rgba(0,0,0,1);}
.x-color-picker-box{width:100%; color:white; text-shadow:0px 1px 3px #000000; padding:2px; font-weight:bold;}
.x-progress-default .x-progress-bar-default{background-image: -webkit-linear-gradient(top, #a5df41, #4ca916) !important;
    box-shadow: 0 0px 5px rgba(255, 255, 255, .7) inset, 0 0px 0px rgba(255, 255, 255, .7) inset; 
}
.x-progress-default{margin-top: -3px !important; height: 19px !important;}
.on_off {
    background-image: url(/libimg/ext/switch-on-off.png); background-size: 60px auto;
    width: 60px; height: 31px; cursor: pointer; display: inline-block; margin-top: -5px; margin-bottom: -2px;
}
.unchecked { background-position: 0px -44px; }
.checked{ background-position: 0px 0px !important; }